@import 'vars.scss';
@import 'mixins.scss';
@import 'functions.scss';

// /. imports

.welcome {
    background-image: url(../../../assets/images/section-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222;

    position: relative;
    height: 100vh;

    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: useRem(160) 0;

        position: relative;
    }

    &__title {
        font-size: useRem(80);
        margin: 0 0 useRem(14) 0;
        color: $white-color;
        text-align: center;
    }

    &__subtitle {
        max-width: useRem(595);
        font-size: useRem(24);
        font-weight: 300;
        margin: 0 0 useRem(45) 0;
        color: $white-color;
        opacity: .8;
        text-align: center;
    }
}