@import '../../../vars.scss';
@import '../../../mixins.scss';

// /. imports

.list {
    &__item {
        &:not(:last-child) {
            margin: 0 0 useRem(20) 0;
        }
    }

    &__text {
        font-weight: 500;
        color: $dark-color;
        display: flex;
        align-items: center;

        svg {
            margin: 0 useRem(10) 0 0;
        }
    }

    &__text--active {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: useRem(17);
        color: #F6973F;
    }
}