@import '../../../vars.scss';
@import '../../../mixins.scss';

// /. imports

.footer {
    // flex: 0 0 auto;
    background-color: $primary-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: useRem(118) useRem(188) useRem(56) useRem(188);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin: 0 0 useRem(118) 0;
    }

    &__text {
        max-width: useRem(300);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        color: $dark-color;
        margin: 0 0 useRem(14) 0;
    }

    &__description {
        margin: 0;
        font-weight: 500;
        font-size: useRem(15);
        line-height: useRem(20);
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.links {
    display: flex;
    justify-content: space-between;

    a {
        color: $dark-color;
        font-size: 500;
    }

    &__copyright {
        opacity: .5;
    }

    &__terms {
        margin: 0 useRem(40) 0 auto;
    }
}