@import '../../../vars.scss';
@import '../../../mixins.scss';

// /. imports

.header {
    flex: 0 0 auto;
    background-color: #222;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: useRem(40) 0;
    }

    &__button {
        background-color: transparent;
        position: relative;

        &::after {
            content: attr(data-count);
            position: absolute;
            color: #FFF;
            background-color: $orange-color;
            border-radius: useRem(10);
            top: .2rem;
            right: .4rem;
            width: useRem(18);
            height: useRem(22);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}