@import 'vars.scss';
@import 'mixins.scss';
@import 'functions.scss';

// /. imports

.selection {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: useRem(6);
    background-color: #EEEEEE;
    border-radius: useRem(44);

    &__button {
        background-color: transparent;
        color: $dark-color;
        border-radius: useRem(32);
        padding: useRem(7) useRem(12);
        font-size: useRem(18);
        font-weight: 500;
        opacity: .8;
        transition: all .3s linear;

        &:hover {
            background-color: rgba($color: $white-color, $alpha: .8);
        }

        &:disabled {
            opacity: 0.45;

            &:hover {
                background-color: rgba($color: red, $alpha: .2);
                cursor: not-allowed;
            }
        }

        &:not(:last-child) {
            margin: 0 useRem(40) 0 0;
        }

    }

    &__button.active {
        background-color: $white-color;
    }

}