@import "~swiper/scss";
@import "~swiper/scss/navigation";

@import '../../../assets/styles/vars.scss';
@import '../../../assets/styles/mixins.scss';

// /. imports

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    cursor: -webkit-grab;
    cursor: grab;
}