<ng-container>
  <!-- swiper -->
  <swiper [config]="role ? configProductSlider : configTestimonialSlider">
    <ng-template swiperSlide *ngFor="let item of currentRenderData">
      <div *ngIf="role; then thenBlock; else elseBlock"></div>

      <ng-template #thenBlock>
        <app-product [item]="item"></app-product>
      </ng-template>
      <ng-template #elseBlock>
        <app-testimonial [item]="item"></app-testimonial>
      </ng-template>
    </ng-template>
  </swiper>
  <!-- swiper navigation -->
  <app-slider-button
    action="next"
    [role]="role ? 'product' : 'testimonial'"
  ></app-slider-button>
  <app-slider-button
    action="prev"
    [role]="role ? 'product' : 'testimonial'"
  ></app-slider-button>
</ng-container>
