<ng-container>
  <!-- swiper -->
  <swiper [config]="currentSliderConfig">
    <ng-container *ngIf="currentRenderData.length !== 0 && filterOption">
      <ng-template
        swiperSlide
        *ngFor="let item of currentRenderData | filterProducts: filterOption"
      >
        <app-product
          [item]="item"
          [loadingStatus]="loadingStatus"
        ></app-product>
      </ng-template>
    </ng-container>
    <!--  -->
    <ng-container *ngIf="currentRenderData.length === 0 || !currentSliderRole">
      <ng-template swiperSlide>
        <article class="placeholder-card">
          <span class="placeholder-card__title">
            {{ 'data not found' | uppercase }}
          </span>
        </article>
      </ng-template>
    </ng-container>
    <!--  -->

    <ng-container *ngIf="currentRenderData.length !== 0">
      <ng-template swiperSlide *ngFor="let item of currentRenderData">
        <ng-container *ngIf="currentSliderRole === 'testimonial'">
          <app-testimonial
            [item]="item"
            [loadingStatus]="loadingStatus"
          ></app-testimonial>
        </ng-container>
      </ng-template>
    </ng-container>
  </swiper>
  <!-- swiper navigation -->
  <ng-container *ngIf="currentRenderData.length">
    <app-slider-button
      action="next"
      [role]="currentSliderRole"
      [loadingStatus]="loadingStatus"
    ></app-slider-button>
    <app-slider-button
      action="prev"
      [role]="currentSliderRole"
      [loadingStatus]="loadingStatus"
    ></app-slider-button>
  </ng-container>
</ng-container>
