@import '../../../vars.scss';
@import '../../../mixins.scss';

// /. imports

.swiper-button {
    transition: all .2s linear;
    background-color: $white-color;
    border-radius: useRem(25);
    box-shadow: 0 useRem(8) useRem(20) rgba(0, 0, 0, 0.06);
    width: useRem(50);
    height: useRem(50);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 30%;
    z-index: 1;

    &:hover {
        background-color: rgba(141, 141, 141, 0.5);
    }

    svg {
        fill: #1E1E1E;
    }
}

.swiper-button.next {
    right: useRem(-25);
}

.swiper-button.prev {
    left: useRem(-25);
    transform: rotate(180deg);
}