<article class="testimonial" [ngClass]="{ loading: loadingStatus }">
  <img
    class="testimonial__background"
    [src]="item.backgroundIMG"
    (error)="handleImageError($event, 'background')"
    alt="design example"
  />

  <div class="testimonial__wrapper">
    <div class="testimonial__avatar-box">
      <img
        class="testimonial__avatar-image"
        [src]="item.avatar"
        (error)="handleImageError($event, 'avatar')"
        alt="user avatar"
      />
    </div>

    <div class="testimonial__information">
      <address class="testimonial__name" [title]="item.name">
        {{ item.name }}
      </address>
      <span class="testimonial__position" [title]="item.position">
        {{ item.position }}
      </span>
      <blockquote class="testimonial__comment">
        <p>{{ item.message }}</p>
      </blockquote>
      <app-rating [status]="loadingStatus"></app-rating>
    </div>
  </div>
</article>
