<article class="product" [ngClass]="{ loading: loadingStatus }">
  <div class="product__preview">
    <img
      class="product__image"
      [src]="item.image"
      (error)="handleImageError($event)"
      alt="product"
    />
  </div>

  <div class="product__description">
    <div class="product__top">
      <span
        class="product__name"
        [title]="!loadingStatus ? (!item.name ? 'Untitled' : item.name) : ''"
      >
        {{ !loadingStatus ? (!item.name ? 'Untitled' : item.name) : '' }}
      </span>
      <h4 class="product__model" [title]="item.model || 'untitled'">
        {{ !loadingStatus ? (!item.model ? 'Untitled' : item.model) : '' }}
      </h4>
      <app-rating
        role="interaction"
        [status]="loadingStatus"
        [name]="item.model"
      ></app-rating>
    </div>

    <div class="product__bottom">
      <span
        class="product__price"
        [title]="!loadingStatus ? (!item.price ? '0' : item.price) : ''"
      >
        <sup>$</sup>
        <span>
          {{ !loadingStatus ? (!item.price ? '0' : item.price) : '' }}
        </span>
      </span>
      <button
        class="product__button"
        [ngClass]="{ active: isButtonActive }"
        aria-label="add product to basket"
        [disabled]="loadingStatus"
        (click)="handleButtonClick(item.id)"
      >
        <svg
          *ngIf="isButtonActive"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.5479 7.26651C20.2474 6.41162 20.1214 5.15157 19.2665 4.45212C18.4116 3.75266 17.1515 3.87866 16.4521 4.73355L8.66618 14.2497L6.2 12.4C5.31634 11.7373 4.06274 11.9164 3.4 12.8C2.73726 13.6837 2.91635 14.9373 3.8 15.6L7.03309 18.0248C8.31916 18.9894 10.137 18.7688 11.155 17.5246L19.5479 7.26651Z"
            stroke=""
            strokeWidth="2"
            strokeLinecap="round"
          />
        </svg>
        <svg
          *ngIf="!isButtonActive"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.1342 10.2102C20.1342 9.44107 19.5107 8.81756 18.7415 8.81756H11.7782V1.85427C11.7782 1.08512 11.1547 0.461609 10.3856 0.461609C9.61643 0.461609 8.99291 1.08512 8.99291 1.85427V8.81756H2.02962C1.26048 8.81756 0.636963 9.44107 0.636963 10.2102C0.636963 10.9794 1.26048 11.6029 2.02962 11.6029H8.99291V18.5662C8.99291 19.3353 9.61643 19.9588 10.3856 19.9588C11.1547 19.9588 11.7782 19.3353 11.7782 18.5662V11.6029H18.7415C19.5107 11.6029 20.1342 10.9794 20.1342 10.2102Z"
            fill=""
          />
        </svg>
      </button>
    </div>
  </div>
</article>
