@import '../../../vars.scss';
@import '../../../mixins.scss';

// /. imports

.column {

    &__title {
        color: $dark-color;
        font-weight: 700;
        font-size: useRem(24);
        line-height: useRem(28);
    }

    &__subtitle {
        font-size: useRem(16);
        line-height: useRem(22);
        opacity: .8;
        margin: useRem(20) 0 useRem(14) 0;
    }
}