@import 'vars.scss';
@import 'functions.scss';

// /. imports

.burger {
    max-width: useRem(320);
    width: 50%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: useRem(117);
    right: -100%;
    transition: all .35s ease-in-out;

    &__wrapper {
        background-color: rgba(30, 30, 30, 0.9);
        padding: useRem(20) 0 useRem(20) useRem(40);
        height: calc(100vh - useRem(117));
        overflow-y: auto;
    }
}

.burger.rounded {
    .burger__wrapper {
        border-radius: useRem(15) 0 0 0;
    }
}

.burger.visible {
    right: 0;
}