@import 'vars.scss';
@import 'functions.scss';

@import '../../../assets/styles/base/styles.scss';

// /. imports

.nav {
    &__menu {
        display: flex;

        :not(:last-child) {
            margin: 0 useRem(62) 0 0;
        }
    }

    &__link {
        color: #FFF;
        font-size: useRem(18);
        line-height: useRem(21);
        transition: all .25s ease-in-out;
        opacity: 1;

        &:hover {
            opacity: 0.5;
        }
    }

    &__link.active {
        color: $orange-color;
    }
}

.burger__nav.nav {

    .nav__menu {
        flex-direction: column;

        :not(:last-child) {
            margin: 0 0 useRem(25) 0;
        }
    }

    :host(app-nav-link) {
        .nav__item {
            border-bottom: 1px solid $orange-color;
            padding-bottom: useRem(5);
        }

        .nav__link {
            display: block;
            font-size: useRem(22);

            &:hover {
                transform: translateX(useRem(10));
                opacity: 1;
            }
        }
    }
}