<nav class="nav">
  <ul class="nav__menu">
    <li class="nav__item">
      <a
        class="nav__link"
        [routerLink]="''"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Furniture
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="'/shop'" routerLinkActive="active">
        Shop
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="'/about'" routerLinkActive="active">
        About Us
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="'/contact'" routerLinkActive="active">
        Contact
      </a>
    </li>
  </ul>
</nav>
