@import '../../../assets/styles/mixins.scss';

// /. imports

.nav {
    &__menu {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin: 0 useRem(62) 0 0;
        }
    }

    &__link {
        color: #FFF;
        font-size: useRem(18);
        line-height: useRem(21);
    }

    &__link.active {
        color: $orange-color;
    }
}