/* You can add global styles to this file, and also import other style files */

@import './vars.scss';
@import './mixins.scss';

// /. imports

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

input {
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

svg {
    flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

blockquote {
    margin: 0;
}

address {
    font-style: normal;
}

// ./ nullstyles

html,
body {
    font-size: #{$font-size}px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.main {
    background-color: $white-color;
}

.container {
    max-width: useRem(1380);
    padding: 0 useRem(10);
    margin: 0 auto;
}

.container--footer {
    max-width: useRem(1240);
}

.container--welcome {
    max-width: useRem(930);
}

.container--products {
    max-width: useRem(1200);
}

.container--about {
    max-width: useRem(1440);
}

.logo {
    font-size: useRem(28);
    line-height: useRem(33);
    letter-spacing: useRem(0.5);
    font-weight: 700;
    text-transform: capitalize;
    color: #FFF;
}

.title {
    font-size: useRem(42);
    line-height: useRem(49);
    font-weight: 700;
    color: $dark-color;
    margin: useRem(20) 0;
}

.subtitle {
    font-size: useRem(18);
    line-height: useRem(21);
    font-weight: 600;
    letter-spacing: useRem(5);
    text-transform: uppercase;
    color: $orange-color;
}




.welcome {
    background-image: url(./assets/images/section-background.png);
    // background-image: url(./assets/images/section-background_full.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222;

    position: relative;

    // height: 100vh;
    height: useRem(1084);
    min-height: useRem(700);

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: useRem(92) 0;

        position: relative;

        // &::before,
        // &::after {
        //     position: absolute;
        //     content: url(./assets/icons/pointer-icon_medium.svg);
        // }

        // &::before {
        //     bottom: useRem(-205);
        //     right: useRem(-225);
        // }

        // &::after {
        //     bottom: useRem(-170);
        //     left: useRem(530);
        // }
    }

    &__title {
        font-size: useRem(80);
        margin: 0 0 useRem(14) 0;
        color: $white-color;
        text-align: center;
    }

    &__subtitle {
        max-width: useRem(595);
        font-size: useRem(24);
        font-weight: 300;
        margin: 0 0 useRem(45) 0;
        color: $white-color;
        opacity: .8;
        text-align: center;
    }

    // &::before,
    // &::after {
    //     position: absolute;
    // }

    // &::before {
    //     content: url(./assets/icons/pointer-icon_select.svg);
    //     bottom: useRem(275);
    //     left: useRem(250);
    // }

    // &::after {
    //     content: url(./assets/icons/pointer-icon_small.svg);
    //     bottom: useRem(230);
    //     left: useRem(100);
    // }
}

.form {
    position: relative;

    &__input {
        max-width: useRem(344);
        width: 100%;
        font-size: useRem(18);
        background: rgba(255, 255, 255, 0.15);
        border: 0.861538px solid rgba(255, 255, 255, 0.6);
        border-radius: useRem(42);
        padding: useRem(15) useRem(36) useRem(15) useRem(20);

        &::-webkit-input-placeholder {
            font-size: useRem(18);
            color: $white-color;
        }

        &::-moz-placeholder {
            font-size: useRem(18);
            color: $white-color;
        }

        &:-ms-input-placeholder {
            font-size: useRem(18);
            color: $white-color;
        }

        &::-ms-input-placeholder {
            font-size: useRem(18);
            color: $white-color;
        }

        &::placeholder {
            font-size: useRem(18);
            color: $white-color;
        }
    }

    &__button {
        position: absolute;
        right: useRem(8);
        top: 50%;
        transform: translateY(-50%);
        background-color: $orange-color;
        width: useRem(40);
        height: useRem(40);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.features {
    padding: useRem(120) 0;

    &__wrapper {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(useRem(284), 1fr));
        gap: useRem(20);
    }

    &__title {
        color: $dark-color;
        font-weight: 700;
        font-size: useRem(42);
        line-height: useRem(49);
    }
}

.products {

    background-color: $primary-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: useRem(138) 0 useRem(50) 0;
    }

    &__gallery {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(useRem(268), 1fr));
        justify-content: space-between;
        gap: useRem(42);
        margin: 0 0 useRem(60) 0;

        position: relative;
    }

    &__title {
        font-size: useRem(42);
        line-height: useRem(49);
        font-weight: 700;
        color: $dark-color;
    }

    &__selection {
        margin: useRem(32) 0 useRem(68) 0;
    }
}

.selection {
    display: flex;
    justify-content: space-between;
    padding: useRem(6);
    background-color: #EEEEEE;
    border-radius: useRem(44);

    &__button {
        background-color: transparent;
        color: $dark-color;
        border-radius: useRem(32);
        padding: useRem(7) useRem(12);
        font-size: useRem(18);
        font-weight: 500;
        opacity: .8;
        transition: all .3s linear;

        &:hover {
            background-color: rgba($color: $white-color, $alpha: .8);
        }

        &:not(:last-child) {
            margin: 0 useRem(40) 0 0;
        }
    }

    &__button.active {
        background-color: $white-color;
    }

}

.rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &__title {
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
        overflow: hidden;
        position: absolute;
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: 0;
        cursor: pointer;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        overflow: hidden;
        clip: rect(0 0 0 0);

        &:hover~.rating__label svg {
            fill: rgba($color: #F6B76F, $alpha: 1);
        }

        &:checked~.rating__label svg {
            fill: rgba($color: #F6B76F, $alpha: 1);
        }
    }

    &__label {

        &:hover {
            cursor: pointer;
        }

        &:not(:last-child) {
            margin: 0 0 0 useRem(5);
        }

        svg {
            fill: rgba($color: #8D8D8D, $alpha: .5);
            transition: all .3s linear;
        }
    }
}

.about {
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: useRem(323) 0 useRem(260) 0;
    }

    &__preview {
        position: relative;
        flex: 0 0 33.3%;
        height: 100px;
    }

    &__image {
        max-width: useRem(665);
    }

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin: 0 0 useRem(270) 0;
        }

        .about__image {
            margin: 0 useRem(20) 0 useRem(-10);
        }
    }

    &__section--reverse {
        flex-direction: row-reverse;

        .about__image {
            margin: 0 useRem(-10) 0 useRem(20);
        }
    }

    &__information {
        max-width: useRem(550);
    }

    &__description {
        font-size: useRem(18);
        line-height: useRem(22);
        color: $dark-color;
        opacity: .8;
        margin: 0 0 useRem(24) 0;
    }
}

.testimonials {

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 0 useRem(244);
    }

    &__text {
        text-align: center;
        margin: 0 0 useRem(60) 0;
    }


    &__gallery {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, minmax(min-content, useRem(370)));
        gap: useRem(40);
    }
}