@import './vars.scss';

// /. imports

@function useRem($size) {
    $remSize: #{$size / $font-size}rem;
    @return $remSize;
}

@mixin hide-text {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}