@import './vars.scss';

// /. imports


@function useRem($size) {
    $remSize: #{$size / $font-size}rem;
    @return $remSize;
}

// /. functions

@mixin hide-text {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin skeleton-animation {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
            rgba($white-color, 0) 0,
            rgba($white-color, 0.2) 20%,
            rgba($white-color, 0.5) 60%,
            rgba($white-color, 0));
    -webkit-animation: skeleton-loading 5s infinite;
    animation: skeleton-loading 5s infinite;
}

// /. mixins

@-webkit-keyframes skeleton-loading {
    100% {
        transform: translateX(100%);
    }
}

@keyframes skeleton-loading {
    100% {
        transform: translateX(100%);
    }
}

// /. animations